# Large video files - too big for GitHub
images/project/swarm.mp4
images/project/rbe_arm_manipulation.mp4
images/project/romeo and julibot.mp4
images/project/solar_panel.mp4
images/project/huron.mp4
images/project/slam_mapping.mp4
images/misc/LightArt.mp4

# General ignores
.DS_Store
Thumbs.db
*.log
